@import "tailwindcss";
/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */

/*@layer theme, base, components, utilities;*/
/*@layer theme, base, components, utilities;*/

.wiki-title {
  background: #4D83F7
}

body {
  /* @apply bg-slate-200 */
  @apply bg-[#262626]
  text-white
}

p {
  @apply mb-4
}

a {
   @apply underline text-blue-600 hover:text-blue-800 visited:text-purple-600
}
